<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.recommend">
	<select id="isRecUser" parameterType="com.ezen.vo.RecommendVO" resultType="java.lang.Integer">
		select count(*) 
		from recommend 
		where usernum = #{usernum} and no = #{no}
	</select>
	<insert id="insert" parameterType="com.ezen.vo.RecommendVO">
		insert into recommend (usernum,no) 
		values (#{usernum},#{no})
	</insert>
	<delete id="delete" parameterType="com.ezen.vo.RecommendVO">
		delete from recommend 
		where usernum = #{usernum} and no = #{no}
	</delete>
	<select id="recCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(*)
		from recommend
		where no = #{no}
	</select>
	
</mapper>